/* Header container */
.header {
  display: flex;                 /* FLEXBOX */
  justify-content: space-between;/* space items evenly */
  align-items: center;           /* vertical alignment */

  padding: 15px 30px;
  background-color: #f3f4f6;
}

/* Logo */
.logo {
  font-size: 20px;
  font-weight: bold;
}

/* Navigation */
.nav {
  display: flex;     /* make links horizontal */
  gap: 20px;         /* space between links */
}

.nav a {
  text-decoration: none;
  color: black;
}
